*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 40px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#container{
    padding: 10px 40px;
}
.section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
    margin: 5px auto;
}
.card{
    margin-top: 10px;
}
.card img{
    height: 400px;
}